/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
img{
  display: block;
}
.btn-search{
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
border: none;
transition: 0.6s;
}
.btn-search:hover{
  background: #6c8cff;
}
.search-form{
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 36px;
}
.search-input{
border: 1px solid #808080;
border-radius: 4px;
width: 252px;
height: 36px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #808080;
padding-left: 16px;
}
.search-input:hover{
  border: 1px solid #000;
}
.search-input:focus{
  outline: none;
  border: 1px solid #4e75ff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.card {
  width: 360px;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #808080;
}

.card-img {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 4px 20px;
  font-size: 14px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-labels {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 12px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}
.info-values{
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.msg{
  margin-top: 36px;
  display: flex;
  justify-content: center;
}


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  align-self: center;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #4e75ff;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
  
.btn-load{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 130px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
border: none;
transition: 0.6s;
align-self: center;
}
.btn-load:hover{
  background: #6c8cff;
}
.main-stl{
display: flex;
flex-direction: column;
/* align-items: flex-start;
justify-content: center; */
}

.hidden {
  display: none;
  opacity: 0;
}
